:root{
    --background-color : #EDC7B7;
    --bs-primary-rgb: #AC3B61;
}

body{
    font-family: 'Poppins', 'sans-serif';
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Unbounded', cursive;
    font-weight: 800;
}

.container-fluid-custom{
    max-width: 1600px;
}

.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #123C69;
    --bs-btn-border-color: #123C69;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #325993;
    --bs-btn-hover-border-color: #325993;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #123C69;
    --bs-btn-active-border-color: #123C69;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #123C69;
    --bs-btn-disabled-border-color: #123C69;
}

.btn-outline-primary {
    --bs-btn-color: #123C69;
    --bs-btn-border-color: #123C69;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #325993;
    --bs-btn-hover-border-color: #325993;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #123C69;
    --bs-btn-active-border-color: #123C69;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #123C69;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #123C69;
    --bs-gradient: none;
}

.pagination{
    --bs-pagination-color: var(--bs-primary-rgb);
    --bs-pagination-active-bg: var(--bs-primary-rgb);
    --bs-pagination-active-border-color: var(--bs-primary-rgb);
}

/*Home*/
@media(min-width:1200px){
    .home{
        background:
        var(--background-color);
        ;
    }
}

.home-title::before{
    content: url('../img/stars.svg');
    position: absolute;
    left: -50px;
    top: -30px;
}

.home-title::after{
    content: url('../img/stars.svg');
    position: absolute;
    right: -50px;
    bottom: -30px;
}